<p id="notice"><%= notice %></p>


<%= form_tag(tweets_path, method: :get, remote: true) do %>
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Get tweets on topic" %>
<% end %>

<h1>Search twitter for sentiments on a topic</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Sentiment</th>
      <th>Score</th>
      <th>Query</th>
    </tr>
  </thead>

  <tbody id='tweets' class='infinite-scroll'>
    <%= render 'tweet_partial' %>
  </tbody>
</table>

<br>
<div id="paginator">
  <%= will_paginate @tweets %>
</div>
