<p>
  <strong>Body:</strong>
  <%= @tweet.body %>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @tweet.sentiment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @tweet.score %>
</p>

<p>
  <strong>Average score for <%= @tweet.query %></strong>
  <%= @tweet.avg_score %>
</p>

<%= link_to 'Back', tweets_path %>
